.header-section {
    &__info-block {
        grid-column: span 5;
        display: flex;
        flex-direction: column;
        &__item {
            background-color: $bg-primary;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1.75rem;
            &__item {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            &__search {
                .input {
                    width: 100%;
                }
            }
            &__burger-logo {
                display: flex;
                align-items: center;
                gap: 1rem;
                &__burger {
                    width: 4.5rem;
                    height: 4.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    span {
                        width: 2rem;
                        height: 0.167rem;
                        background-color: $icon-primary;
                        border-radius: 1000rem;
                        pointer-events: none;
                    }
                }
                &__logo {
                    height: 4.5rem;
                    img {
                        @include image_settings(contain);
                    }
                }
            }
            &__add {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0.5rem;
                &__link {
                    width: 4.5rem;
                    height: 4.5rem;
                    padding: 1rem;
                    img {
                        @include image_settings(contain);
                    }
                }
            }
            &.main {
                
            }
            &:nth-child(2) {
                border-radius: 0 0 1.75rem 1.75rem;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        @include text_2;
                        img {
                            width: 1.75rem;
                            height: 1.75rem;
                            object-fit: contain;
                        }
                        span {
                            color: $text-primary-transparent-60;
                        }
                    }
                }
            }
            &__categories {
                justify-content: center;
                flex: 1.5;
                li {
                    a {
                        span {
                            color: $text-primary!important;
                        }
                    }
                }
            }
            &__bonuses {
                justify-content: flex-end;
            }
        }
    }
}