header{
    position: sticky;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5;
    
    .header-section {
        width: 100%;
        &__container{
            margin: 0 8.25rem;
            @include mobile {
                margin: 0;
            }
        }
        &__info-block {
            position: relative;
            grid-column: span 5;
            display: flex;
            flex-direction: column;
           
            &__item {
                @include mobile {
                    gap: 0.75rem;
                }
                background-color: $bg-primary;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 1.75rem;
                &__item {
                    flex: 1;
                    &:nth-child(1){
                        @include mobile {
                            flex: none;

                        }
                    }
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                &__search {
                    @include mobile {
                        display: none;
                    }
                    .input {
                        width: 100%;
                    }
                }
                .search-mobile{
                    display: none;
                    @include mobile {
                        display: block;
                    }
                }
                &__burger-logo {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    &__burger { 
                        width: 4.5rem;
                        height: 4.5rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        cursor: pointer;
                        span {
                            width: 2rem;
                            height: 0.167rem;
                            background-color: $icon-primary;
                            border-radius: 1000rem;
                            pointer-events: none;
                        }
                    }
                    &__logo {
                        height: 4.5rem;
                        img {
                            @include image_settings(contain);
                        }
                    }
                }
                &__add {
                    @include mobile {
                        gap: 0.75rem;
                    }
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 0.5rem;
                    &__link {
                        width: 4.5rem;
                        height: 4.5rem;
                        padding: 1rem;
                        img {
                            @include image_settings(contain);
                        }
                    }
                }
                
                &:nth-child(2) {
                    border-radius: 0 0 1.75rem 1.75rem;
                    @include mobile {
                        display: none;
                    }
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            @include text_2;
                            img {
                                width: 1.75rem;
                                height: 1.75rem;
                                object-fit: contain;
                            }
                            span {
                                color: $text-primary-transparent-60;
                            }
                        }
                    }
                }
                &__categories {
                    justify-content: center;
                    flex: 1.5;
                    li {
                        a {
                            span {
                                color: $text-primary!important;
                            }
                        }
                    }
                }
                &__bonuses {
                    justify-content: flex-end;
                }
            }
        }
    }
}

body.open-menu{
    header{
        .header-section__info-block__item__burger-logo__burger{
            span{
                    position: absolute;
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                        display: none;
                }
            }
        }
    }
}