.new-product-section{
    
    &__head{
        grid-column: span 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title{
            @include heading_2;
        }
        &__additional{
            >a {
                color: $text-primary-transparent-60;
                @include text_1;
            }
        }
    }
    &__info-block{
        grid-column: span 5;
        @include grid(5,1.75rem)

    }
}