.new-product-section{
    
    &__head{
        grid-column: span 5;
        @include mobile{
            grid: 10.0833rem;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
            margin-bottom: 3rem;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__title{
            @include heading_2;
        }
        &__additional{
            >a {
                color: $text-primary-transparent-60;
                @include text_1;
            }
        }
    }
    &__info-block{
        grid-column: span 5;
        
        @include grid(5,1.75rem);
        @include mobile{
            @include grid(2, 0.25rem);
            grid-column: span 5;
            :nth-child(5) {
                display: none;
            }
        }
        

    }
}