// input[type="checkbox"] {
//     display: none;
//     & + label {
//         width: 1.5rem;
//         height: 1.5rem;
//         display: block;
//         background-color: $bg-inverse-transparent-6;
//         border-radius: 0.5rem;
//     }
//     &:checked + label {
        // background-color: $bg-accent;
        // position: relative;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     display: block;
        //     width: 0.667rem;
        //     height: 0.667rem;
        //     border-radius: 0.25rem;
        //     background-color: $bg-inverse;
        //     transform: translate(-50%, -50%);
        // }
//     }
// }

.checkbox-block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    &:hover {
        .checkbox {
            input[type="checkbox"] {
                & + div {
                    background-color: $bg-inverse-transparent-15;
                    position: relative;
                    &::before {
                        background-color: $bg-inverse-transparent-30;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .checkbox {
        input[type="checkbox"] {
            display: none;
            & + div {
                width: 1.5rem;
                height: 1.5rem;
                display: block;
                background-color: $bg-inverse-transparent-6;
                border-radius: 0.5rem;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 0.667rem;
                    height: 0.667rem;
                    border-radius: 0.25rem;
                    background-color: $bg-inverse;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }
            }
            &:checked + div {
                background-color: $bg-accent;
                position: relative;
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}
