.burger-block{
    @include mobile{
        width: 100vw;
        height: 100vh;
    }
    position: absolute;
    background-color: $bg-primary;
    width: 35rem;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__burger{
        overflow-y: auto;
    }
}

body.open-menu {
    @include mobile{
        overflow: hidden;

    }
    .burger-block{
        opacity: 1;
        visibility: visible;
        
    }
}

.insert {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    &.active{
        opacity: 1;
        visibility: visible;
        background-color: $bg-inverse-transparent-30;
        
    }
}