<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    
    <link rel="stylesheet" href="../src/styles/main.css">
    
</head>
<body>
     
    <header>
        <div class="header-section">
            <div class="header-section__container container">
                <div class="header-section__info-block">
                    <div class="header-section__info-block__item main">
                        <div class="header-section__info-block__item__item header-section__info-block__item__burger-logo">
                            <div class="header-section__info-block__item__burger-logo__burger button_size_icon button_style_outline button ">
                                <span></span><span></span><span></span>
                            </div>
                            <a href="/" class="header-section__info-block__item__burger-logo__logo">
                                <img src="../src/images/logo.svg" alt="">
                            </a>
                        </div>
                        <div class="header-section__info-block__item__item header-section__info-block__item__search">
                            <div class="input input_type_search input_state_static">
                                <input type="text">
                            </div>
                        </div>
                        <div class="header-section__info-block__item__item header-section__info-block__item__add">
                            <a href="" class="header-section__info-block__item__add__link">
                                <img src="../src/images/lk.svg" alt="">
                            </a>
                            <a href="" class="header-section__info-block__item__add__link">
                                <img src="../src/images/favourites.svg" alt="">
                            </a>
                            <a href="" class="header-section__info-block__item__add__link">
                                <img src="../src/images/cart.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="header-section__info-block__item">
                        <ul class="header-section__info-block__item__item header-section__info-block__item__other">
                            <li><a href=""><img src="../src/images/location.svg" alt=""><span>Москва</span></a></li>
                            <li><a href=""><span>Календарь скидок</span></a></li>
                            <li><a href=""><span>Магазины</span></a></li>
                        </ul>
                        <ul class="header-section__info-block__item__item header-section__info-block__item__categories">
                            <li><a href=""><span>Женщинам</span></a></li>
                            <li><a href=""><span>Мужчинам</span></a></li>
                            <li><a href=""><span>Детям</span></a></li>
                            <li><a href=""><span>Для дома</span></a></li>
                            <li><a href=""><span>Высокое качество</span></a></li>
                        </ul>
                        <ul class="header-section__info-block__item__item header-section__info-block__item__bonuses">
                            <li><a href=""><span>Бонусная программа</span></a></li>
                            <li><a href=""><span>Получить 300 ₽</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <main>
        <section class="pv-60">
            <div class="advantages-section">
                <div class="advantages-section container">
                    <div class="advantages-section__info-block">
                        <div class="advantages-section__info-block__bann">
                            <div class="swiper bannSlider">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide"><img src="/src/images/bann/bann1.png" alt=""></div>
                                  <a href="https://www.google.ru/" class="swiper-slide"> <img src="/src/images/bann/bann2.png" alt=""> </a>
                                  <div class="swiper-slide"><img src="/src/images/bann/bann3.png" alt=""></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                              </div>
                        </div>
                        <div class="advantages-section__info-block__additional"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>

    </footer>


   



    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <script type="module" src="../src/scripts/app.js"></script>
</body>
</html>