<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/styles/main.css">
</head>
<body>
     
    <div class="product-card">
        <div class="product-card__images"><img src="" alt=""></div>
        <div class="product-card__information">
            <div class="product-card__information__price-block">
                <div class="product-card__information__price-block__price">7 010 ₽</div>
                <div class="product-card__information__price-block__cashback">
                    <img src="../src/images/Prize_green.svg" alt="">
                    <span>578 ₽</span>
                </div>
                <div class="product-card__information__price-block__old-price-block">
                    <div class="product-card__information__price-block__old-price-block__price">22 340</div>
                    <div class="product-card__information__price-block__old-price-block__sale">-40%</div>
                </div>
            </div>
            <div class="product-card__information__name">Кроссовки QUESTAR 2 M, черные, 43</div>
            <div class="product-card__information__add">
                <div class="product-card__information__add__img-name">
                    <img src="../src/images/size.svg" alt="">
                    <span>43</span>
                </div>
                <div class="product-card__information__add__img-name">
                    <img src="../src/images/quality.svg" alt="">
                    <span>Среднее</span>
                </div>
            </div>
        </div>
        <div class="product-card__buttons">
            <button class="button button_size_basic button_style_accent">Купить</button>
        </div>
    </div>




   

</body>
</html>