<button class="button_size_large button_style_accent button_state_static">Button</button>

<button class="button_size_basic button_style_accent button_state_static">Button</button>

<button class="button_size_small button_style_accent button_state_static">Button</button>

<button class="button_size_large button_style_outline button_state_static">Button</button>

<button class="button_size_small button_style_ghost button_state_static">Button</button>

<button class="button_size_basic button_style_wrong button_state_disabled">Button</button>