* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    @include desktop {
        font-size: 0.625vw;
    }
    @include mobile {
        font-size: 12px;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Golos Text", sans-serif;
    background-color: $bg-inverse-subdued-3;
}

main, header, footer {
    max-width: 1921px;
    margin: 0 auto;
    @include desktop {
        margin: 0;
        max-width: none;
    }
}

hr {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.swiper-pagination {
    padding: 0 1.75rem;
    bottom: 1.75rem!important;
    gap: 0.333rem;
    display: flex;
    &-bullet{
        flex: 1;
        border-radius: 0;
        height: 0.125rem;
        margin: 0!important;
        background-color: $bg-inverse-transparent-15;
        opacity: 1;
        &-active{
            background-color: $bg-inverse;
        }
    
    }

}
.pv{
    &-30{
        padding: 2.5rem 0;
    }
    &-60{
        padding: 5rem 0;
    }
}