* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    margin: 0;
    padding: 0;
    font-size: 12px;
    @include desktop {
        font-size: 0.625vw;
    }
    @include mobile {
        font-size: 12px;
    }
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Golos Text", sans-serif;
}

main {
    max-width: 1921px;
    margin: 0 auto;
    @include desktop {
        margin: 0;
        max-width: none;
    }
}

hr {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
    height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}